<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="RemoveAttributes(configSource)">
    <add name="RsEntities" connectionString="Server=vavd-rns-dbs01;Database=RS_DEV;Trusted_Connection=True;" providerName="System.Data.SqlClient" xdt:Transform="Insert"/>
  </connectionStrings>
</configuration>
