<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings xdt:Transform="RemoveAttributes(configSource)">
      <add name="LeanEntities" connectionString="Server=(local);Database=;Trusted_Connection=True;" providerName="System.Data.SqlClient" xdt:Transform="Insert"/>
    </connectionStrings>
</configuration>